@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

/* Header section */
@keyframes navSlideIn {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes navSlideOut {
    0% {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(50px);
    }
}

@keyframes menuOverlayIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes menuOverlayOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Subscribe section */
@keyframes formError {
    0% {
        visibility: hidden;
        opacity: 0;
        height: 49px;
    }
    80% {
        height: 90px;
    }
    100% {
        visibility: visible;
        opacity: 1;
        height: 80px;
    }
}

@keyframes formSuccess {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes iconError {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-50%) scale(0.5);
    }
    80% {
        transform: translateY(-50%) scale(1.2);
    }
    100% {
        visibility: visible;
        opacity: 1;
        transform: translateY(-50%) scale(1);
    }
}