@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

/* Spacing */
.container {
    max-width: 1110px;
    margin: 0 auto;
}

/* Visually hiding content */
.sr-only {
    position: absolute;
    top: auto;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Headings */
.heading {
    color: $c-blue-dark;
    font-weight: 500;

    &--xxl {
        @extend .heading;
        font-size: clamp(1.86rem, 4vw, 2.9rem);
        line-height: 1.32em;

        @include breakpoint(lg) {
            line-height: 1.15em;
            letter-spacing: 0.015em;
        }
    }

    &--xl {
        @extend .heading;
        font-size: clamp(1.43rem, 4vw, 1.9rem);
        letter-spacing: 0.018em;

        @include breakpoint(lg) {
            letter-spacing: 0.02em;
        }
    }

    &--l {
        @extend .heading;
        font-size: 1.26rem;
        font-weight: 500;
        letter-spacing: 0.01em;
    }

    &--xm {
        @extend .heading;
        font-size: clamp(0.935rem, 3vw, 1.126rem);
        font-weight: 400;
    }

    &--white {
        color: $c-white;
    }
}

/* Paragraphs */
.paragraph {
    color: $c-blue-grayish;

    &--l {
        @extend .paragraph;
        font-size: clamp(0.94rem, 2.3vw, 1.12rem);
        line-height: 1.67em;

        @include breakpoint(lg) {
            line-height: 1.55em;
        }
    }

    &--xm {
        @extend .paragraph;
        font-size: 0.94rem;
        line-height: 1.67em;

    }
}