@use '../utilities/' as *;

.btn {
    $root: &;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: $c-white;
    border: none;
    background-color: transparent;
    font-family: $ff-primary;
    font-weight: 500;
    font-size: 0.85rem;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: background-color 350ms ease-in,
                color 350ms ease-in,
                border 350ms ease-in;

    &:focus {
        outline: none;
    }

    &:focus-visible {
        outline: 2px dashed $c-red-soft;
        outline-offset: 2px;
    }
    
    &--login-mobile {
        @extend #{$root};
        padding: 9px 0;
        border: 2px solid white;
        border-radius: 7px;
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &--login-desktop {
        @extend #{$root};
        padding: 9px 29px;
        background-color: $c-red-soft;
        border: 2px solid darken($c-red-soft, 20);
        text-transform: uppercase;
        letter-spacing: 0.07rem;
        box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.12);
        
        @include breakpoint(md) {
            &:hover {
                background-color: $c-white;
                color: darken($c-red-soft, 20);
            }
        }
    }

    &--intro {
        @extend #{$root};
        padding: 7px 16px;
        color: $c-white;
        letter-spacing: 0.03em;

        @include breakpoint(xs) {
            padding: 14px 16px;
        }

        @include breakpoint(md) {
            padding: 14px 23px;
        }
    }

    &--info {
        @extend #{$root};
        align-self: flex-start;
        padding: 14px 23px;
        color: $c-white;
    }

    &--install {
        @extend #{$root};
        padding: 14px 34px;
        color: $c-white;
        font-size: 0.89rem;
        letter-spacing: 0.01em
    }

    &--contact {
        @extend #{$root};
        padding: 14px 0;
    }

    &--blue {
        border-color: $c-blue-soft;
        background-color: $c-blue-soft;
        box-shadow: 0 5px 6px 0 transparentize($c-blue-soft, 0.8);

        @include breakpoint(md) {
            &:hover {
                background-color: $c-white;
                color: $c-blue-soft;
            }
        }
    }

    &--gray {
        background-color: lighten($c-blue-grayish, 38);
        border-color:lighten($c-blue-grayish, 38);
        color: lighten($c-blue-dark, 20);
        box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.12);

        @include breakpoint(md) {
            &:hover {
                background-color: $c-white;
                color: $c-blue-dark;
                border-color: $c-blue-dark;
            }
        }
    }

    &--red {
        background-color: $c-red-soft;
        border-color: $c-red-soft;

        @include breakpoint(md) {
            &:hover {
                background-color: $c-white;
                color: $c-red-soft;
            }
        }
    }

    &--transparent {
        background-color: transparent;
    }
}