@use '../utilities/' as *;

.btn {
    $root: &;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: $c-white;
    border: none;
    background-color: transparent;
    font-family: $ff-primary;
    font-weight: 500;
    font-size: 0.85rem;
    border-radius: 5px;
    
    &--login-mobile {
        @extend #{$root};
        padding: 9px 0;
        border: 2px solid white;
        border-radius: 7px;
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &--login-desktop {
        @extend #{$root};
        padding: 11px 31px;
        background-color: $c-red-soft;
        border: 1px solid darken($c-red-soft, 20);
        text-transform: uppercase;
        letter-spacing: 0.07rem;
        box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.12);
    }

    &--intro {
        @extend #{$root};
        padding: 16px 18px;
        color: $c-white;
        letter-spacing: 0.03em;

        @include breakpoint(md) {
            padding: 16px 25px;
        }
    }

    &--info {
        @extend #{$root};
        align-self: flex-start;
        padding: 16px 25px;
        color: $c-white;
    }

    &--install {
        @extend #{$root};
        padding: 16px 36px;
        color: $c-white;
        font-size: 0.89rem;
        letter-spacing: 0.01em
    }

    &--contact {
        @extend #{$root};
        padding: 16px 0;
    }

    &--blue {
        background-color: $c-blue-soft;
        box-shadow: 0 5px 6px 0 transparentize($c-blue-soft, 0.8);
    }

    &--gray {
        background-color: lighten($c-blue-grayish, 38);
        color: lighten($c-blue-dark, 20);
        box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.12);
    }

    &--red {
        background-color: $c-red-soft;
    }
}