@use '../utilities/' as *;

.header {
    $root: &;
    position: absolute;
    width: 100%;
    padding: 40px 32px 32px 32px;

    @include breakpoint(md) {
        padding: 48px 32px 32px 32px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: flex;

        @include breakpoint(md) {
            margin-left: 6px;
        }
    }
}