@use '../utilities/' as *;

.header {
    $root: &;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 32px 32px 32px;
    z-index: 999;

    @include breakpoint(md) {
        padding: 48px 32px 32px 32px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: flex;

        @include breakpoint(md) {
            margin-left: 6px;
        }
    }

    &__menu-overlay {
        position: fixed;
        inset: 0;
        background: transparentize($c-blue-dark, 0.05);
        z-index: -1;
        opacity: 0;
        animation: menuOverlayIn 1000ms ease-in-out forwards;
        
        &.hide {
            animation: menuOverlayOut 1000ms ease-in-out forwards;
        }
    }
}