@use '../utilities/' as *;

.faq {
    $root: &;
    padding: 0 32px;

    &__container {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-bottom: 123px;

        @include breakpoint(lg) {
            margin-bottom: 150px;
        }
    }

    &__title {
        text-align: center;
        line-height: 1.3em;
    }

    &__text {
        text-align: center;
        max-width: 530px;
        margin-top: 17px;

        @include breakpoint(lg) {
            margin-top: 22px;
        }
    }

    &__accordion-list {
        display: flex;
        flex-flow: column;
        gap: 6px;
        width: 100%;
        margin-top: 50px;

        @include breakpoint(md) {
            gap: 2px;
            max-width: 542px;
            margin-top: 57px;
        }
    }

    &__accordion-item {
        display: flex;
        flex-flow: column;
        border-bottom: 1px solid lighten($c-blue-grayish, 30);

        @include breakpoint(md) {
            transition: color 300ms ease-in-out;

            &:hover {
                #{$root}__accordion-question {
                    color: $c-red-soft;
                }
            }

            &:first-of-type {
                border-top: 1px solid lighten($c-blue-grayish, 30);
            }
        }
    }

    &__accordion-question {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        background-color: transparent;
        border: none;
        font-size: clamp(0.935rem, 3vw, 1.126rem);
        font-weight: 400;
        cursor: pointer;

        @include breakpoint(md) {
            transition: color 300ms ease-in-out;
            padding: 23px 24px 19px 0;
        }
    }

    &__accordion-toggle {
        pointer-events: none;
        height: 0;
        opacity: 0;
        transition: opacity 300ms ease-in-out,
                    height 300ms 300ms ease-in-out;
        
        &.open {
            pointer-events: all;
            opacity: 1;
            transition: height 300ms ease-in-out,
                        opacity 300ms 300ms ease-in-out;
        }
    }

    &__cta {
        align-self: center;
        margin-top: 46px;

        @include breakpoint(md) {
            margin-top: 54px;
        }
    }
}