@use '../utilities/' as *;

.subscribe {
    $root: &;
    padding: 0 32px;
    background-color: $c-blue-soft;

    &__container {
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 70px 0 60px 0;

        @include breakpoint(md) {
            padding: 70px 0 74px 0;
        }
    }

    &__users {
        text-transform: uppercase;
        color: $c-white;
        font-size: 0.85rem;
        letter-spacing: 0.35em;
    }

    &__title {
        margin-top: 14px;
        text-align: center;
        max-width: 360px;

        @include breakpoint(md) {
            max-width: 460px;
        }

        @include breakpoint(lg) {
            margin-top: 39px;
            line-height: 1.24em;
        }
    }

    &__form {
        position: relative;
        display: flex;
        flex-flow: wrap;
        gap: 16px;
        width: 100%;
        margin-top: 33px;
        max-width: 442px;
        transition: gap 350ms ease-in;

        @include breakpoint(md) {
            margin-top: 37px;
        }

        &.error {
            gap: 50px;

            @include breakpoint(md) {
                gap: 16px;
            }
                        
            #{$root}__form-error {
                animation: formError 550ms ease-in forwards;
            }
        }
    }

    &__form-input {
        border: none;
        padding: 16px 0;
        border-radius: 5px;
        padding-left: 20px;
        font-family: "Rubik";
        font-size: 0.9rem;
        flex-basis: 100%;
        z-index: 1;

        @include breakpoint(sm) {
            flex-basis: 300px;
        }
        
        &::placeholder {
            color: $c-blue-grayish;
        }
    }

    &__form-cta {
        flex: 1;
    }

    &__form-error {
        visibility: hidden;
        position: absolute;
        display: flex;
        align-items: flex-end;
        top: -1px;
        left: -1px;
        width: calc(100% + 2px);
        height: 80px;
        padding: 0 0 8px 8px;
        background-color: $c-red-soft;
        color: $c-white;
        border-radius: 5px;
        font-size: 0.85rem;
        font-weight: 500;
        opacity: 0;

        @include breakpoint(md) {
            width: 302px;
        }
    }
}