@use '../utilities/' as *;

.subscribe {
    $root: &;
    padding: 0 32px;
    background-color: $c-blue-soft;
    overflow: hidden;

    &__container {
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 70px 0 60px 0;

        @include breakpoint(md) {
            padding: 70px 0 74px 0;
        }
    }

    &__users {
        text-transform: uppercase;
        color: $c-white;
        font-size: 0.85rem;
        letter-spacing: 0.35em;
        text-align: center;
    }

    &__title {
        margin-top: 14px;
        text-align: center;
        max-width: 360px;

        @include breakpoint(md) {
            max-width: 460px;
        }

        @include breakpoint(lg) {
            margin-top: 39px;
            line-height: 1.24em;
        }
    }

    &__form {
        position: relative;
        display: flex;
        flex-flow: wrap;
        gap: 16px;
        width: 100%;
        margin-top: 33px;
        max-width: 442px;
        transition: gap 350ms ease-in;

        @include breakpoint(md) {
            margin-top: 37px;
        }

        &.error {
            #{$root}__form-cta {
                margin-top: 30px;

                @include breakpoint(sm) {
                    margin-top: 0;
                }
            }
                        
            #{$root}__form-error {
                animation: formError 550ms ease-in forwards;
            }
        }
    }

    &__form-input-wrapper {
        position: relative;
        flex-basis: 100%;
        
        @include breakpoint(sm) {
            flex-basis: 300px;
        }
    }

    &__form-input {
        position: relative;
        border: none;
        padding: 16px 0;
        border-radius: 5px;
        padding-left: 20px;
        font-family: "Rubik";
        font-size: 0.9rem;
        width: 100%;
        z-index: 1;
        
        &::placeholder {
            color: $c-blue-grayish;
        }

        &:focus {
            outline: none;
        }

        &:focus-visible {
            outline: 2px dashed $c-red-soft;
            outline-offset: 2px;
        }
    }

    &__form-cta {
        flex: 1;
        transition: margin 350ms ease-in-out;
    }

    &__form-error {
        visibility: hidden;
        position: absolute;
        display: flex;
        align-items: flex-end;
        inset: -1px -1px 0 -1px;
        height: 80px;
        padding: 0 0 8px 8px;
        background-color: $c-red-soft;
        color: $c-white;
        border-radius: 5px;
        font-size: 0.85rem;
        font-weight: 500;
        opacity: 0;
    }

    &__form-error-icon {
        visibility: hidden;
        position: absolute;
        top: 50%;
        right: 10px;
        width: 20px;
        height: 20px;
        transform: translateY(-50%);
        z-index: 1;
        animation: iconError 550ms ease-in-out forwards;

        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('/images/icon-error.svg');
        }
    }

    &__form-success {
        margin-top: 33px;
        color: $c-white;
        opacity: 0;
        transform: scale(1.3);
        text-align: center;
        animation: formSuccess 500ms ease-in-out forwards;

        @include breakpoint(md) {
            margin-top: 37px;
        }
    }
}